.inputmain {
    width: 50px;
    padding: 150px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 40px;
    margin-top: 0px;
    border: 2px solid white;
    box-shadow: 0px 2px 6px 2px rgb(253, 252, 252);
}

.main {
    margin-top: 0px;
    margin-left: 200px;
}
.container{
    margin-top: -10px;
    margin-left: -10px;
    background-color: rgb(31, 30, 30);
    position: fixed;
    height: 104vh;
    width: 102%;
}
.sp{
    border-top:1px solid rgb(246, 242, 242) ;
    width: 555px;
    position: absolute;
    top: 120px;
    left: 420px;
}
.button{
    position: absolute;
    top: 87px;
    left: 940px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}
.button:hover{
    position: absolute;
    top: 87px;
    left: 935px;
    background-color: rgb(66, 65, 65);
    width: 33px;
    color: white;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}
.aquamarine{
    width: 40px;
    padding: 130px;
    cursor: pointer;
}
.aqua{
    width: 40px;
    padding: 130px;
    cursor: pointer;
    position: relative;
    left: -210px;
}